body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}
* {
    box-sizing: border-box;
  }

a {
    color: inherit; /*no style for hyperlinks*/
    text-decoration: inherit;
    cursor: pointer;
}
a:hover
{
    color:#5D5F65;
}

.navigation-bar
{
    color: #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 152px;
    font-size: 20px;
    
}
.main-nav {
    color: #D8D8D8;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 37px;
}
.zone
{
    /*border: 1px solid black;*/
}
.welcome-screen
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

section.welcome h1
{
    font-size: 44px;
}
section.welcome p
{
    font-size: 25px;
    color: #5D5F65;
}
.about-us
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
.about-us-text
{
    background-color:#141720;
    
}
section.text-about-us h2
{
    font-size: 28px;
    color:#FFFFFF;
    text-align: left;
    padding: 3em 10em 0em 3em;
}
section.text-about-us p
{
    font-size: 15px;
    color: #FFFFFF;
    line-height: 1.8;
    word-break: keep-all;
    text-align: left;
    padding: 3em 10em 0em 5em;
}
.image-about-us
{
    width: 100%;
    
}
.image-about-us
{
    background-image: url("image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100%;*/
    height: 100%;
}
.timeline
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
section.timeline-text h2
{
    font-size: 28px;
    color: #2b2b2b;
    padding: 3em 5em 0em 3em;
    text-align: left;
}
section.timeline-text p
{
    font-size: 15px;
    color: #5d5f65;
    line-height: 1.8;
    word-break: keep-all;
    padding: 2em 10em 0em 5em;
    text-align: left;
}
/*timeline*/

.time  {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  align-items: center;
}

.time .event {
  display: contents;
}

.time .event .year {
  text-align: right;
}

.time .event .timeaxis {
  display: block;
  width: 5px;
  height: 100%;
  background-color: #D4D4D4;
  margin: 0 auto;
}

.time .event .timeaxis::after {
  content: '';
  position: relative;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  border-radius: 50%;
  z-index: 1;
  display: block;
  right: 14px;
  top: calc(50% - 12.5px - 5px);
}

.time .event .description {
  text-align: left;
}

/* /timeline */

.our-service
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
}
p {
    margin: 0;
    font-size: 16px;
  }

section.our-service h1
{
    font-size: 28px;
}
.our-service-details
{
    height: 100vh;
}
.grid-wrapper
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.box{
    padding: 3em 2em 2em 3em;
    text-align: left;
}
.box p
{
    text-align: left;
}
section.details p
{
    color: #5D5F65;
}

.hiring
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
.hiring-text
{
    background-color:#141720;
    
}
section.text-hiring h2
{
    font-size: 28px;
    color:#FFFFFF;
    text-align: left;
    padding: 3em 10em 0em 3em;
}
section.text-hiring p
{
    font-size: 15px;
    color: #FFFFFF;
    line-height: 1.8;
    word-break: keep-all;
    text-align: left;
    padding: 3em 10em 0em 5em;
}
.image-hiring
{
    width: 100%;
    
}
.image-hiring
{
    background-image: url("hiring.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100%;*/
    height: 100%;
}

.contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
.contact-us
{
    background-color:#141720;
    
}
section.contact-us-inputs h2
{
    font-size: 28px;
    color:#FFFFFF;
    text-align: left;
    padding: 3em 10em 0em 3em;
}
section.contact-us-inputs p
{
    font-size: 22px;
    color: #FFFFFF;
    padding: 3em 10em 0em 5em;
}
.image-map
{
    width: 100%;
    
}
/*.image-map
{
    background-image: url("map.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100%;*/
    /*height: 100%;
}*/
input
{
    background-color: #141720;
    font-size: 15px;
    color: #FFFFFF;
    width: 70%;
    outline: none;
    border: none;
    padding: 3px 0px 15px 6px;
    margin: 2em 4em 0em 4em;
    box-sizing: border-box;
    border-bottom: 2px solid #FFFFFF;
  }
textarea
{
    background-color: #141720;
    font-size: 15px;
    color: #FFFFFF;
    width: 70%;
    outline: none;
    border: none;
    margin: 2em 4em 0em 4em;
    box-sizing: border-box;
    /*border-bottom: 2px solid #FFFFFF;*/
}
hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0em 8em 0em 4em;
    padding: 0;
}
.button
{
    background-color: #C71222;
    border: none;
    color: white;
    padding: 20px 70px;
    border-radius: 30px;
    font-size: 15px;
    margin: 2em 0em 1em 20em;
}
@media only screen and (max-width: 768px)
{
    .navigation-bar
    {
        margin: 10px 50px;
        font-size: 15px;
    }
    .main-nav
    {
        font-size: 12px;
    }
    section.welcome h1
    {
    font-size: 30px;
    }
    section.welcome p
    {
    font-size: 15px;
    color: #5D5F65;
    }
    .about-us
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .about-us-text
    {
        height: 100%;
    }
    .image-about-us
    {
    display: none;
    }
    .timeline
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .container
    {
        display: none;
    }
    
    .hiring
    {
        display: grid;
        grid-template-columns: 1fr;
        height: 100hv;
    }
    .image-hiring
    {
        display: none;
    }
    .contact
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    }
    .contact-us
    {
        height: 100vh;
    }

    
