body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}

a {
    color: inherit; /*no style for hyperlinks*/
    text-decoration: inherit;
    cursor: pointer;
}

.navigation-bar
{
    color: #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 152px;
    font-size: 20px;
    
}
.main-nav {
    color: #D8D8D8;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    margin-right: 37px;
}

/*.main-nav li:last-child {
    margin-right: 0;
}*/

/*.right {
    margin-right: auto;
}*/


.welcome
{
    text-align: center;
    margin-top: 289px;
    margin-right:153px;
    margin-left: 153px;
}
.welcome-text
{
    font-size: 44px;
}
.welcome-more-text
{
    font-size: 25px;
    color: #5D5F65;
}
.column {
    float: left;
    width: 50%;
    margin-top:200px;
    height: 700px;
    padding: 200px;
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    display: flex;
  }
.second
{
    box-sizing: border-box;
    padding: 0px;
}
 