body{
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    color: inherit; /*no style for hyperlinks*/
    text-decoration: inherit;
    cursor: pointer;
  }
li{
    display: inline;
}
.nav-bar
{
    color: #D8D8D8;
    font-size: 16px;
    list-style-type: none;
    /*float: right;*/
    position: absolute;
    top: 32px;
    /*left: 867px;*/
    right: 120px;
}
.company-name
{
    font-size: 20px;
    position: absolute;
    right: 1143px;
    white-space: nowrap;
}

.welcome
{
    text-align: center;
    position: absolute;
    top: 289px;
    right:153px;
    left: 153px;
}
.welcome-text
{
    font-size: 44px;
}
.welcome-more-text
{
    font-size: 25px;
    color: #5D5F65;
}
.column
{
    position: absolute;
    top:700px;
    float: left;
    height: 700px;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
.text-column
{
    width: 50%;
    background-image: url("bg.png");
}
.image-column
{
    width: 50%;
background-image: url("image1.png")
}
.about-us
{
    text-align: left;
    font-size: 28px;
    color: #FFFFFF;
    padding: 145px  307px 529px 153px;
}
.about-text
{
    text-align: left;

}